project_id = "thqxmvjkncyizixbmuwu"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[functions.add-user-to-sheets]
verify_jwt = false